/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
  min-height: 100vh;
  color: #111827;
}

/* LINKS */
a {
  text-decoration: none;
}

/* BUTTON */
button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* AUTH PAGES */
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CARD */
.auth-container {
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 45px;
  border-radius: 22px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

/* TITLE */
.auth-container h1,
.auth-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  color: #111827;
}

/* FORM */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* LABEL */
.auth-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 17px;
}

/* INPUT */
.auth-form input {
  width: 100%;
  padding: 18px;
  border: 1px solid #d1d5db;
  border-radius: 14px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  background: #f9fafb;
}

.auth-form input:focus {
  border-color: #6366f1;
  background: white;
  box-shadow: 0 0 0 4px rgba(99, 102, 241, 0.15);
}

/* BUTTON */
.auth-btn {
  width: 100%;
  padding: 18px;
  border-radius: 14px;
  background: linear-gradient(135deg, #6366f1, #7c3aed);
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.auth-btn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}

/* FOOTER */
.auth-footer {
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  color: #4b5563;
}

.auth-footer a {
  color: #4f46e5;
  font-weight: bold;
}

/* MOBILE */
@media (max-width: 600px) {
  .auth-container {
    padding: 30px 22px;
  }

  .auth-container h1,
  .auth-container h2 {
    font-size: 32px;
  }

  .auth-form input {
    padding: 16px;
  }

  .auth-btn {
    padding: 16px;
  }
}